// 文字垂直水平居中
/* 该文件是一些公用的css方法 */
text-center()
  display flex
  justify-content center
  align-items center
// 文字溢出省略号
text-hidden()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
// 最后一个元素铺满当前div所占的所有空间  父元素索要设置的样式
flex-all()
  display flex
  flex-direction column
// 上下居中
top-center()
  display flex
  align-items center
// 不一列显示 并上下居中
flex-center()
  display flex
  flex-direction column
  align-items center
